body{color:#337AB7;background-image:url(../img/dark_embroidery.png)}.position,header,footer,nav,section#produits{position:absolute;right:0;left:0}header{top:0px;height:100px;line-height:100px}footer{bottom:0px;height:50px;text-align:center;padding-top:10px}nav{top:100px}#panel1,#panel2,#panel3,#panel4{height:300px;overflow-x:hidden;overflow-y:auto}section#produits{top:450px;bottom:50px;overflow-x:hidden;overflow-y:auto}
