<section ng-controller="PanelCtrl as panel" class="container-fluid">
    

    <nav class="row">
        <div id="buttonSelect" class="col-md-12">
            <button href ng-click="panel.selectFamilyN1(3, 1)" class="btn btn-primary">Vélo</button>
            <button href ng-click="panel.selectFamilyN1(3, 2)" class="btn btn-primary">Scoot</button>
        </div>
        <br>
        <br>
        <div id="panel1" class="col-md-3">
            <ul ng-if="acti"  class="list-group">
                <li ng-repeat="familyN2 in familiesN2" ng-click="panel.selectFamilyN2(4, familyN2.id)" ng-if="familyN2.id_parent === idParentN2" class="list-group-item"><a href ng-click="panel.getArticles(familyN2.id)">{{ familyN2.label }}</a></li>
            </ul>
        </div>
        <div id="panel2" class="col-md-3">
            <ul ng-if="acti2" class="list-group">
                <li ng-repeat="familyN3 in familiesN3" ng-click="panel.selectFamilyN3(5, familyN3.id)" ng-show="familyN3.id_parent === idParentN3" class="list-group-item"><a href ng-click="panel.getArticles(familyN3.id)">{{ familyN3.label }}</a></li>
            </ul>
        </div>
        <div id="panel3" class="col-md-3">
            <ul ng-if="acti3" class="list-group">
                <li ng-repeat="familyN4 in familiesN4" ng-click="panel.selectFamilyN4(6, familyN4.id)" ng-show="familyN4.id_parent === idParentN4" class="list-group-item"><a href ng-click="panel.getArticles(familyN4.id)">{{ familyN4.label }}</a></li>
            </ul>
        </div>
        <div id="panel4" class="col-md-3">
            <ul ng-if="acti4" class="list-group">
                <li ng-repeat="familyN5 in familiesN5" ng-show="familyN5.id_parent === idParentN5" class="list-group-item"><a href ng-click="panel.getArticles(familyN5.id)" >{{ familyN5.label }}</a></li>
            </ul>
        </div>
    </nav>
    
    
    
    
    <section id="produits" class="container">
        <article ng-repeat="article in articles" ng-show="articles" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ article.label }}</h3>
            </div>
            <div class="panel-body">
                <strong>{{ article.reference }} --  Marque:</strong> {{ article.marque }} <strong>Prix:</strong> {{ article.prix }}€ <strong>dont</strong> TVA({{ article.tva}}%)
            </div>
        </article>
        <article ng-hide="articles">Aucun article n'est disponible</article>
    </section>
</section>